#deleteusuario{
    position: relative;
    color: red;
    font-size: 25px;
    left: 410px;
    top: 5px;
}

#updateusuario{
    position: relative;
    font-size: 25px;
    left: 400px;
    top: 5px;
}

#tudousuario{
    position: relative;
    left: 200px;
}

#preco1usuario{
    position: relative;
    font-size: 18px;
    left: 280px;
}