<ion-content padding>

<h3>Usuarios</h3>
<a (click)="home()" id="home"><ion-icon name="arrow-back" ></ion-icon></a>

<ion-list id="tudousuario">
    <table *ngIf="userA.perfis != 'FUNCIONARIO'">
      <tr >
        <td id="cod1c">Código</td>
        <td id="nome11c">Nome</td>
        <td id="preco1usuario">Email</td>
      </tr>
      <tr *ngFor = "let item of items">
        <td id="cod1c">{{item.id}}</td>
        <td id="nome11c">{{item.nome}}</td>
        <td  id="preco1usuario">{{item.email}}</td>
        <a (click)="update(item.id, item.nome, item.preco, item.total)"><td><ion-icon name="refresh-circle" id="updateusuario"></ion-icon></td></a>
        <a (click)="deletar(item.id)" ><td><ion-icon name="trash" id="deleteusuario"></ion-icon></td></a>
      </tr>
     
    </table>

    <table  *ngIf="userA.perfis == 'FUNCIONARIO'" id="tabelaFunc">
      <tr >
        <td id="cod1c">Código</td>
        <td id="nome11c">Nome</td>
      </tr>
      <tr *ngFor = "let item of items">
        <td id="cod1c">{{item.id}}</td>
        <td id="nome11c">{{item.nome}}</td>
      </tr>
     
    </table>
  </ion-list>
  
  
  
  <button ion-button *ngIf="userA.perfis != 'FUNCIONARIO'" id="inserir1c" (click)="inserir()">Inserir</button>

</ion-content>
