#h3{
    top: 0px;
    text-align: center;
    left: -280px;
}

#nome{
    text-align: center;
    width: 800px;
}

#nome1{
    font-size: 18px;
}

#cadastrar{
    text-align: center;
    width:200px;
    top: 30px;
    left: 300px;
}

#cat{
    top: 10px;
    font-size: 15px;
}

#cat1{
    position: relative;
}

#cat3{
    position: relative;
    font-size: 19px;
    text-align: center;
    top: 15px;
}

#cat4{
    position: relative;
    top: 15px;
}

#tudo{
    position: relative;
    left: 300px;
}
