h3{
    text-align: center;
}

#home{
    top: 10px;
    font-size: 25px;
    color: black;
}

#updateCategorias{
position: relative;
font-size: 20px;
left: 5px;
}

#deleteCategorias{
    position: relative;
    color: red;
    left: 10px;
    font-size: 20px;
}