h31{
    text-align: center;
}
 #categoria1{
     text-align: center;
     position: relative;
     font-size: 18px;
     left: 600px;
 }

 #nome11{
    text-align: center;
     top: 0px;
    position: relative;
    font-size: 18px;
    left: 200px;
}

#preco1{
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 350px;
}
#total1{
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 500px;
}

#cod1{
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 100px;
}

#update{
    position: relative;
    font-size: 25px;
    left: 650px;
}

#delete{
    position: relative;
    font-size: 25px;
    left: 680px;
    color: red;
}

#inserir1{
    position: relative;
    text-align: center;
    left: 600px;
}

