h3{
    text-align: center;
}
 #categoria{
     text-align: center;
     position: relative;
     font-size: 18px;
     left: 700px;
 }

 #nome{
    text-align: center;
     top: 0px;
    position: relative;
    font-size: 18px;
    left: 300px;
}

#preco{
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 450px;
}
#total{
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 600px;
}

#cod{
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 200px;
}

