#h31c{
    text-align: center;
}
 #categoria1c{
     text-align: center;
     position: relative;
     font-size: 18px;
     left: 600px;
 }

 #nome11c{
    text-align: center;
     top: 0px;
    position: relative;
    font-size: 18px;
    left: 200px;
}

#preco1c{
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 350px;
}
#total1c{
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 500px;
}

#cod1c{
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 18px;
    left: 100px;
}

#updatec{
    position: relative;
    font-size: 25px;
    left: 650px;
}

#deletec{
    position: relative;
    font-size: 25px;
    left: 680px;
    color: red;
}

#inserir1c{
    position: relative;
    text-align: center;
    left: 600px;
}

#back{
    position: relative;
    top: -40px;
    left: 5px;
    font-size: 25px;
    color: black;
}

