<a (click)="homprodutos()" id="voltarDaVenda"><ion-icon name="arrow-back" ></ion-icon></a>
<ion-content pading id="tudo">
  <h3 id="h3">Registrar Entrada de Produto</h3>
  
  <form id="nome1DaVenda">
    <ion-item id="nome1">
      <ion-label stacked>Código</ion-label>
      <ion-input  type="number"  [(ngModel)]="item.id" name="id" (ionBlur)="preencheCod(item.id)"></ion-input>
    </ion-item>
    <ion-item id="nome1DaVenda">
      <ion-label stacked >Nome</ion-label>
      <ion-input type="text"  [(ngModel)]="item.nome" name="nome" (ionBlur)="preenchenome(item.nome)"></ion-input>
    </ion-item>
    <ion-item id="nome1DaVenda">
      <ion-label stacked >Quantidade</ion-label>
      <ion-input type="text" name="qteEntrada" [(ngModel)]="qteEntrada" (ionBlur)="setqte(qteEntrada)"></ion-input>
    </ion-item>
    <button ion-button block (click)="updateEntrada(item)" id="cadastrar">Registrar Entrada</button>
  </form>  

  <div id="tudoDaVendaEntrada">
      <table *ngFor = "let cat of cats">
        <tr>
          <td><h4>{{cat.nome}}</h4></td>
        </tr>
        <tr *ngFor = "let prod of prods">
         <td *ngIf="prod.categoria.nome == cat.nome" ><a id="produto" (click)="preencheBusca(prod, prod.categoria.id, prod.total)">{{prod.nome}}</a></td>
       </tr>
      </table> 
  </div>
  
  
</ion-content>

