#item{
    text-align: center;
    width: 800px;
}

#name{
    position: relative;
    left: 330px;
    width: 600px;
    font-size: 18px;
}

#att{
    text-align: center;
    width:200px;
    top: 30px;
    left: 550px;
}

#pag{
    position: relative;
    top: 50px;
}

#vCats{
    position: relative;
    top: -160px;
    left: 10px;;
    font-size: 25px;
    color: black;
}
