<a (click)="homprodutos()" id="voltarDaVenda"><ion-icon name="arrow-back" ></ion-icon></a>
<ion-content pading id="tudo">
  <h3 id="h3">Registrar Venda</h3>
  
  <form id="nome1DaVenda">
    <ion-item id="nome1">
      <ion-label stacked>Código</ion-label>
      <ion-input  type="number"  [(ngModel)]="item.id" name="id" (ionBlur)="preencheCod(item.id)"></ion-input>
    </ion-item>
    <ion-item id="nome1DaVenda">
      <ion-label stacked >Nome</ion-label>
      <ion-input type="text"  [(ngModel)]="item.nome" name="nome" (ionBlur)="preenchenome(item.nome)"></ion-input>
    </ion-item>
    <ion-item id="nome1DaVenda">
      <ion-label stacked >Quantidade</ion-label>
      <ion-input type="number" name="qte" [(ngModel)]="qte" (ionBlur)="calculaLucro(qte, item.preco)"></ion-input>
    </ion-item>
    <ion-item id="nome1DaVenda">
      <ion-label stacked >Preço</ion-label>
      <ion-input type="number" [(ngModel)]="item.preco" name="preco" ></ion-input>
    </ion-item>
    <ion-item id="nome1DaVenda">
      <ion-label stacked >Lucro</ion-label>
      <ion-input type="number" [(ngModel)]="lucro" name="lucro" (ionBlur)="calculaqte(lucro, item.preco)"></ion-input>
    </ion-item>
    <button ion-button block (click)="produtosAc(item)" id="cadastrarNovoProduto">Registrar outro Produto</button>
    <button ion-button block (click)="update(item)" id="cadastrarNovoProduto">Vender</button>
  </form>  

  <div id="tudoDaVenda">
      <table *ngFor = "let cat of cats">
        <tr>
          <td><h4>{{cat.nome}}</h4></td>
        </tr>
        <tr *ngFor = "let prod of prods">
         <td *ngIf="prod.categoria.nome == cat.nome" ><a id="produto" (click)="preencheBusca(prod, prod.categoria.id, prod.total)">{{prod.nome}}</a></td>
       </tr>
      </table> 
  </div>

  <div id="tudoDosProdutos">
    <table>
      <tr>
        <td><h4>Produtos para a venda</h4></td>
      </tr>
      <tr *ngFor = "let item of prodsAc">
        <td><p>{{item.nome}}</p></td>
      </tr>
    </table> 
</div> 
<div id="emailCliente">
<h5 id="h5">Incluir Nota Fiscal</h5>
<input type="radio" name="cliente" (click)="setNota('true')"><span>Sim</span>
<input type="radio" name="cliente" (click)="setNota('false')" id="nao"><span id="nao" >Não</span>
<ion-item  *ngIf="cond == 'true'" id="emailClientei">
  <ion-label stacked >Email</ion-label>
  <ion-input type="email" [(ngModel)]="email" (ionBlur)="setEmail(email)"></ion-input>
</ion-item>  
</div>
</ion-content>

