#nome1DaVenda{
    width: 300px;
}

#tudoDaVenda{
    position: relative;
    left: 460px;
    top: -345px;
    overflow: inherit; 
    height: 300px;
    width: 300px;
    
}

#voltarDaVenda{
    position: relative;
    top: 10px;
    left: 10px;
    font-size:15px;
    color: black;
}

#produto{
    color: black;
}
